
.data{
	font-family:Georgia;
	font-size:16px;
	
}

.completed{
	color:red;
	font-weight:bold;
	
}
.todoItem img {
	opacity:0.2;
	transition: all 0.3s ease-in;
	height:50px;
	width:50px;
	position:relative;
	float:right;
	visibility:hidden;
}
.todoItem:hover img {
	opacity:1;
	visibility:visible;
	cursor:pointer;
}
